@import url('_variables.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.item-center {
  justify-content: center;
  align-items: center;
}

.vertical-center {
  align-items: center;
}

.btn {
  text-transform: uppercase;
  border-radius: 6px;
  font-size: .875rem;
  cursor: pointer;
}

.btn_login {
  padding: 8px 18px;
  margin-left: auto;
  border: 1px solid var(--light-color);
  background: none repeat scroll 0 0 transparent;
  color: var(--light-color);
}

.btn_login span {
  display: none;
}

.btn__light {
  padding: 16px 52px;
  border: none;
  background-color: var(--light-color);
  color: var(--main-color);
}

.main-header {
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
    url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--light-color);
}

.content-wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  height: 60px;
  position: relative;
  align-items: center;
}

.navbar nav {
  width: 100%;
}

.navbar .logo img {
  width: 25px;
}

.navbar .logo span {
  margin-left: 10px;
  line-height: 40px;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--light-color);
}

.navbar .menu-icon {
  order: 2;
  margin-left: 20px;
  font-size: 1.5rem;
  color: var(--light-color);
}

.main-menu {
  position: absolute;
  top: 60px;
  right: 1000px;
  width: 100vw;
  height: calc(100dvh - 60px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  font-size: 1.5rem;
  transition: all 1s ease;
}

.main-menu.menu-open {
  left: 0;
  transition: all 1s ease;
}

.main-menu li:not(:last-child) {
  margin-bottom: 20px;
}

.main-menu li a {
  color: var(--dark-color);
}

.header-content-wrap {
  flex-direction: column;
  height: calc(100% - 60px);
}

.header-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.header-subtitle {
  max-width: 500px;
  margin-bottom: 20px;
  line-height: 150%;
  text-align: center;
  font-size: .875rem;
}

.modal-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000007d;
}

.modal {
  width: 80vw;
  height: 50dvh;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  font-size: 1.5rem;
  transform: translate(-50%,-50%);
  background-color: var(--light-color);
}

.modal-form {
  height: 100%;
  flex-direction: column;
}

.modal-form label {
  margin-bottom: 20px;
}

.modal-form label:not(:first-child) {
  margin-top: 40px;
}

.modal-form input[type="submit"] {
  margin-top: 40px;
}

.modal input:not([type="submit"]) {
  display: block;
  height: 30px;
}

.modal .close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
}


/* ------- Media Queries ------------ */

@media screen and (min-width: 768px) {
  .header-title {
    margin-bottom: 40px;
    font-size: 4.5rem;
  }

  .header-subtitle {
    margin-bottom: 40px;
    line-height: 150%;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 100px;
  }

  .navbar .logo span {
    line-height: 100px;
  }
  
  .btn_login {
    padding: 12px 28px;
  }

  .btn_login span {
    display: inline;
  }

  .btn_login i {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .main-menu {
    position: static;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--light-color);
    font-size: 1.5rem;
  }

  .main-menu li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .main-menu li a {
    color: var(--light-color);
    font-size: .875rem;
  }

  .header-content-wrap {
    height: calc(100% - 100px);
  }
}

@media screen and (min-width: 1150px) {
  .content-wrap {
    padding: 0;
  }
}